.insta-ico {
    /*background: url("../images/instagram.png");*/
    width: 24px;
    height: 24px;
}

.profile__info {
    margin-top: 70px;
    background-color: #f9f9f9;
}

.user__avatar {
    position: relative;
    float: left;
}

.user__avatar__img {
    border-radius: 7px;
    width: 100px;
}

.user__stat {
    position: relative;
    float: left;
}

.user__media {
    position: relative;
    float: left;
}

.bold_text {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-family: Verdana, serif;
    color: #35383c;
}

.general_text {
    color: #4d5257;
}

.likes-count::before {
    content: '♥';
}

.comment-count::before {
    content: '\01f4ac'
}


.total_likes::before {
    content: '♥';
}

.total_comments::before {
    content: '\01f4ac'
}

.photo_feed {
    position: relative;
}

.photo-container {
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 1%;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.3);
    background-color: #b86d5c;
    -webkit-transition: all .2s ease-in-out;
    box-sizing: border-box;
}

.insta-image {
    width: 200px;
    max-height: 300px;
    margin-left: 10px;
}

.layout__content {
    margin: 10px;
    width: 100% !important;
}