.insta-ico {
    /*background: url("../images/instagram.png");*/
    width: 24px;
    height: 24px;
}

.userInfo {
    margin-top: 70px;
    background-color: #f9f9f9;
}

.user-avatar {
    border-radius: 7px;
}

.general-info {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-family: Verdana, serif;
    color: #35383c;
}

.general-info-description{
    color: #4d5257;
}

.insta-info {
    position: relative;
    float: left;
}

.stat-info {
    position: relative;
    float: left;
}

.likes-count::before {
    content: '♥';
}

.comment-count::before {
    content: '\01f4ac'
}

.photo-container {
    position: relative;
    float: left;
}

.insta-image {
    max-width:300px;
    max-height: 300px;
    margin-left: 10px;
}