.profile__info {
    margin-top: 70px;
    background-color: #f9f9f9;
}

.user__stat {
    position: relative;
    float: left;
    margin-left: 10px;
}

.user__media {
    position: relative;
    float: left;
    margin-left: 10px;
}

.bold_text {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-family: Verdana, serif;
    color: #35383c;
}

.general_text {
    color: #4d5257;
}

.likes-count::before {
     content: '♥';
     font-size: 20px;
    transition: color 0.4s
 }

.likes-count:hover::before {
    color: #ff2650;
}

.comment-count::before {
    content: '\01f4ac'
}


.total_likes::before {
    content: '♥';
    font-size: 30px;
    color: #ff2650;
}

.total_comments::before {
    content: '\01f4ac';
    font-size: 25px;
}

.profile_cards {
    position: relative;
    float: left;
}

.profile_card {
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 3px;
    /*box-shadow: 0 2px 2px 1px rgba(0,0,0,.3);*/
    -webkit-transition: all .2s ease-in-out;
    /*box-sizing: border-box;*/
    /*background-color: rgba(39, 184, 70, 0.54);*/
}

.card {

}

.insta-image {
    width: 200px;
    max-height: 300px;
    margin-left: 10px;
}

.layout__content {
    margin: 10px;
    width: 100% !important;
}